{% extends "note_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Add a new notepad:</h2>
{% endblock page_header %}

{% block content %}

  <form action="{% url 'note_logs:new_notepad' %}" method="post" class="form">
  	{% csrf_token %} <!-- this will provide a scurity for the web 
  						  stop attackers from getting the data of our users -->
  	{% bootstrap_form form %} 
  	<!-- this will tell django to create the fields we need -->

  	{% buttons %}
  	  <button name="submit">Add notepad</button>
  	{% endbuttons %}
  </form>

{% endblock content %}